nav .avatar{
    border-radius: 100%;
    width: 32px;
    display: block;
    margin-right: 12px;
    border: 2px solid #fff;
}
body{
    height: 100vh;
    overflow: hidden;
    &::-webkit-scrollbar{
        display: none;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgba(255, 255, 255, 0.1); 
}

/* Handle */
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: lighten($color: $purple, $amount: 12%); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: darken($color: $purple, $amount: 12%);
}

.container-after-titlebar {
    overflow: hidden !important;
    &::-webkit-scrollbar{
        display: none;
    }
}
.navbar{
    margin-top: 30px;
}
.hero-head{
    .navbar{
        margin: 0;
    }
}
main{
    .discussion{
        background: #2c3e50;
    }
    .bordered{
        padding-top: 52px;
        height: 95vh;
        &.messages{
            border-left: 1px solid $primary;
            border-right: 1px solid $primary;
        }
        &.about{
            margin: 12px;
        }
        &.discussion{
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
    .discussion{
        
        .discussion-card{
            display: flex;
            padding: 0 12px;
            width: 100%;
            height: 72px;
            &:hover{
                background: darken($color: #2c3e50, $amount: 5%)
            }
            .avatar{
                display: flex;
                position: relative;
                align-items: center;
                width: 17%;
                img{
                    display: block;
                    border-radius: 8px;
                }
            }
            .discussion-body{
                display: flex;
                justify-content: center;
                flex-direction: column;
                color: #fff;
                font-weight: bold;
                width: 80%;
                padding-left: 12px;
            }
            .status{
                display: flex;
                align-items: center;
                justify-self: flex-end;
                .connected{
                    display: block;
                    width: 12px;
                    height: 12px;
                    background: #2ecc71;
                    border-radius: 100%
                }
            }            
        }
        
    }
    .messages{
        position: relative;
        .header{
            .avatar{
                width: 32px;
                border-radius: 8px;
                margin-left: 12px;
            }
            .discussion-title{
                color: $primary;
                font-weight: bold;
                font-size: 18px;
                margin-left: 12px;
            }
            background: #ecf0f1;
            display: flex;
            align-items: center;
            width: 100%;
            padding: 12px 5px;
            border-bottom: 1px solid $primary;
        } 
        .message-box{
            position: absolute;
            top: 109px;
            overflow-y: scroll;
            left: 0;
            bottom: 50px;
            right: 0;
            .message-container{
                position: relative;
                width: 100%;
                clear: both;
                .avatar{
                    width: 20px;
                    height: 20px;
                    display: block;
                    border-radius: 5px;
                    margin-left: 18px;
                }
                .message-content{
                    display: flex;
                    align-items: flex-end;
                    p{
                        max-width: 70%;
                        padding: 10px;
                        margin: 15px 12px;
                    }
                    &.other{
                        float: left;
                        p{                          
                            border-radius: 20px 1px;
                            background: #ecf0f1;
                            color: #000;  
                        }                                                         
                    }
                    &.me{
                        float: right;
                        display: block;
                        p{
                            float: right;
                            border-radius: 1px 20px;
                            background: $primary;                    
                            color: #fff;
                        }                     
                    }
                }
            }
        } 
        .message-control{
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 50px;
            padding: 5px 30px 5px 15px;
            .input{
                height: 35px;
            }
            div[tabindex="0"]{
                bottom: 50px !important;
                top: auto !important;
            }
        }  
    }
    .about{
        .avatar{
            height: 105px;
            display: inline-block;
            border-radius: 50%;
        }
    }
}
.search-wrapper{
    width: 80%;
    margin: 30px auto 0;
}
.not-read{
    &.nbr-0{
        display: none;
    }
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-weight: bold;
    padding: 2px;
    background: #e74c3c;
    border-radius: 2px;
    font-size: 12px;
}